# Explore here

In [1]:
import pandas as pd
import numpy as np
import joblib
import os
from imdb import IMDb
from tqdm import tqdm
import requests
from scipy import sparse

In [38]:
df = pd.read_csv('../data/TMDB_movie_dataset_v11.csv', on_bad_lines='skip', engine='python')
df.head()

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,keywords
0,27205,Inception,8.364,34495,Released,2010-07-15,825532764,148,False,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,...,Inception,"Cobb, a skilled thief who commits corporate es...",83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc..."
1,157336,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,False,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,...,Interstellar,The adventures of a group of explorers who mak...,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,..."
2,155,The Dark Knight,8.512,30619,Released,2008-07-16,1004558444,152,False,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,...,The Dark Knight,Batman raises the stakes in his war on crime. ...,130.643,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,Welcome to a world without rules.,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin","joker, sadism, chaos, secret identity, crime f..."
3,19995,Avatar,7.573,29815,Released,2009-12-15,2923706026,162,False,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,...,Avatar,"In the 22nd century, a paraplegic Marine is di...",79.932,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,Enter the world of Pandora.,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish","future, society, culture clash, space travel, ..."
4,24428,The Avengers,7.710,29166,Released,2012-04-25,1518815515,143,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,...,The Avengers,When an unexpected enemy emerges and threatens...,98.082,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,Some assembly required.,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian","new york city, superhero, shield, based on com..."

In [ ]:
df.columns

In [ ]:
df_poster = df[["title", "poster_path"]]

df_poster.head()

In [ ]:
df = df[df['status'] == 'Released']

In [ ]:
df = df.drop(["id","poster_path", "backdrop_path", "status", "homepage", "imdb_id", "original_title"], axis=1)

df.head()

In [ ]:
df.shape

In [ ]:
df.isnull().sum()

In [ ]:
df = df.dropna(subset=["keywords"])

In [ ]:
df.shape

In [ ]:
df.isnull().sum()

In [ ]:
df = df.dropna(subset=["production_companies"])

In [ ]:
df.shape

In [ ]:
df.isnull().sum()

In [ ]:
df = df.dropna(subset=["genres"])

In [ ]:
df.shape

In [ ]:
df.isnull().sum()

In [ ]:
df = df.dropna(subset=["release_date"])

In [ ]:
df.shape

In [ ]:
df.isnull().sum()

In [ ]:
data_total = pd.read_csv('../data/dataset_total.csv')
data_total.shape

In [ ]:
data_total.isnull().sum()

In [ ]:
#unir las tres columnas de budget en una sola
data_total['budget_final'] = (data_total['budget_imdb']).combine_first(data_total['budget_tmdb'])

In [ ]:
data_total['revenue_final'] = (data_total['revenue_imdb']).combine_first(data_total['revenue_tmdb'])

In [ ]:
data_total['runtime_final'] = (data_total['runtime_imdb']).combine_first(data_total['runtime_tmdb'])

In [ ]:
data_total.isnull().sum()

In [ ]:
data_total.drop(columns=['budget_tmdb', 'revenue_tmdb', 'runtime_tmdb', 'budget_imdb', 'revenue_imdb', 'runtime_imdb', 'budget', 'runtime', 'revenue'], inplace=True)

In [ ]:
columnas_ordenadas = [
    'title', 'vote_average', 'vote_count', 'release_date', 'adult', 'original_language', 'overview',
    'popularity', 'tagline', 'genres', 'production_companies',
    'production_countries', 'spoken_languages', 'keywords', 'director',
    'top_actors', 'runtime_final', 'budget_final', 'revenue_final'
]
data_total = data_total[columnas_ordenadas]

In [ ]:
data_total.isnull().sum()

In [ ]:
data_total = data_total[data_total['runtime_final'] != 0]

In [ ]:
data_total.dropna(subset=['top_actors', 'director', 'runtime_final', 'budget_final'], inplace=True)

In [ ]:
data_total.drop(columns=['revenue_final'], inplace=True)

In [ ]:
data_total.shape

In [ ]:
data_total.isnull().sum()

In [ ]:
data_stream = pd.read_csv('../data/data_streamlit.csv')
data_stream

In [ ]:
data_total = pd.read_csv('../data/dataset_total.csv')
data_total

In [ ]:
import spacy
from tqdm import tqdm

# Cargar modelo de spaCy sin parser ni NER
nlp = spacy.load("en_core_web_sm", disable=["parser", "ner"])
tqdm.pandas()
# 1. Rellenar nulos y limpiar tagline y keywords
for col in ['keywords', 'tagline', 'title', 'overview', 'top_actors', 'director', 'production_companies']:
    data_total[col] = data_total[col].fillna('').str.strip().str.lower()
# 2. Función general para limpiar texto usando POS y lematización
def clean_text_spacy(text, pos_tags):
    doc = nlp(text)
    return " ".join(
        token.lemma_.lower()  # Usamos la raíz léxica (lemma) en lugar del token original
        for token in doc
        if token.pos_ in pos_tags and token.is_alpha and not token.is_stop
    )
# 3. Limpiar overview: solo NOUN, VERB, PROPN
data_total['overview'] = data_total['overview'].fillna('')
data_total['overview_clean'] = data_total['overview'].progress_apply(lambda x: clean_text_spacy(x, ['NOUN', 'VERB', 'PROPN']))
# 4. Limpiar title: NOUN, VERB, PROPN, ADJ
data_total['title'] = data_total['title'].fillna('')
data_total['title_clean'] = data_total['title'].progress_apply(lambda x: clean_text_spacy(x, ['NOUN', 'VERB', 'PROPN', 'ADJ']))
data_total['tagline'] = data_total['tagline'].fillna('')
data_total['tagline_clean'] = data_total['tagline'].progress_apply(lambda x: clean_text_spacy(x, ['NOUN', 'VERB', 'PROPN', 'ADJ']))


# 6. Eliminar duplicados de palabras por fila

def remove_duplicates(text):
    return " ".join(dict.fromkeys(text.split()))
for col in ['title_clean', 'overview_clean', 'tagline_clean', 'top_actors', 'director', 'production_companies']:
    data_total[col] = data_total[col].progress_apply(remove_duplicates)


data_total.head()

In [ ]:
data_total.to_csv('../data/dataset_total.csv', index=False)

In [3]:
data = pd.read_csv('../data/dataset_total.csv')
data.head()

C:\Users\Luna\AppData\Local\Temp\ipykernel_9592\3674118326.py:1: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('../data/dataset_total.csv')

,title,vote_average,vote_count,release_date,adult,original_language,overview,popularity,tagline,genres,...,production_countries,spoken_languages,keywords,director,top_actors,runtime_final,budget_final,overview_clean,title_clean,tagline_clean
0,inception,8.364,34495,2010-07-15,False,en,"cobb, a skilled thief who commits corporate es...",83.952,your mind is the scene of the crime.,"Action, Science Fiction, Adventure",...,"United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc...",christopher nolan,"leonardo dicaprio, joseph gordon-levitt, ken w...",148.0,160000000.0,cobb thief commit espionage infiltrate subcons...,inception,mind scene crime
1,interstellar,8.417,32571,2014-11-05,False,en,the adventures of a group of explorers who mak...,140.241,mankind was born on earth. it was never meant ...,"Adventure, Drama, Science Fiction",...,"United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,...",christopher nolan,"matthew mcconaughey, anne hathaway, michael ca...",169.0,165000000.0,adventure group explorer use discover wormhole...,interstellar,mankind bear earth mean die
2,the dark knight,8.512,30619,2008-07-16,False,en,batman raises the stakes in his war on crime. ...,130.643,welcome to a world without rules.,"Drama, Action, Crime, Thriller",...,"United Kingdom, United States of America","English, Mandarin","joker, sadism, chaos, secret identity, crime f...",christopher nolan,"christian bale, heath ledger, aaron eckhart, m...",152.0,185000000.0,batman raise stake war crime help lt jim gordo...,dark knight,welcome world rule
3,avatar,7.573,29815,2009-12-15,False,en,"in the 22nd century, a paraplegic marine is di...",79.932,enter the world of pandora.,"Action, Adventure, Fantasy, Science Fiction",...,"United States of America, United Kingdom","English, Spanish","future, society, culture clash, space travel, ...",james cameron,"sam worthington, zoe saldaña, sigourney weaver...",162.0,237000000.0,century marine dispatch moon pandora mission t...,avatar,enter world pandora
4,the avengers,7.710,29166,2012-04-25,False,en,when an unexpected enemy emerges and threatens...,98.082,some assembly required.,"Science Fiction, Action, Adventure",...,United States of America,"English, Hindi, Russian","new york city, superhero, shield, based on com...",joss whedon,"robert downey jr., chris evans, mark ruffalo, ...",143.0,220000000.0,enemy emerge threaten safety security nick fur...,avenger,assembly require

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
import joblib
from scipy import sparse

columnas_vectorizadas = ['production_companies', 'keywords', 'director', 'top_actors', 'production_companies', 'overview_clean', 'title_clean', 'tagline_clean']

for col in columnas_vectorizadas:
    print(f"Vectorizando columna: {col}")

    # 1. Preparar textos completos y no vacíos
    texts_all = data[col].fillna('').astype(str)
    texts_nonempty = texts_all[texts_all.str.strip() != '']

    if texts_nonempty.empty:
        print(f"  ❌ Todos los textos en {col} están vacíos. Se omite.")
        continue

    # 2. Fit solo con no vacíos
    vectorizer = TfidfVectorizer(max_features=10000, lowercase=True)
    vectorizer.fit(texts_nonempty)

    # 3. Transformar todos (se conserva el índice)
    vect = vectorizer.transform(texts_all)
   
    sparse.save_npz(f"../data/{col}.npz", vect)
    joblib.dump(vectorizer, f"../models/{col}_vect.pkl")

In [ ]:
data.drop(['title', 'overview', 'tagline'], axis=1, inplace=True)

In [ ]:
data.shape

In [ ]:
from sklearn.preprocessing import MultiLabelBinarizer
import joblib
from scipy import sparse
import pandas as pd
# 1. Función robusta
def split_and_clean(text):
    if isinstance(text, list):
        return text
    if pd.isna(text) or str(text).strip() == "":
        return []
    return [item.strip() for item in str(text).split(",") if item.strip()]
# 2. Procesar columnas deseadas
cols_to_encode = ['genres', 'production_countries', 'spoken_languages']
for col in cols_to_encode:
    data[col] = data[col].apply(split_and_clean)
# 3. Binarizar cada columna
for col in cols_to_encode:
    print(f"Procesando columna: {col}")
    mlb = MultiLabelBinarizer(sparse_output=True)
    encoded = mlb.fit_transform(data[col])
    # Guardar binarizador
    joblib.dump(mlb, f"../models/{col}_mlb.pkl")
    sparse.save_npz(f"../data/{col}.npz", encoded)
    # Convertir a DataFrame
    encoded_df = pd.DataFrame.sparse.from_spmatrix(
        encoded,
        index=data.index,
        columns=[f"{col}_{cls}" for cls in mlb.classes_]
    )
    # Concatenar
    data = pd.concat([data, encoded_df], axis=1)

In [ ]:
data.shape

In [ ]:
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder(sparse_output=True, handle_unknown="ignore")
lang_encoded = ohe.fit_transform(data[['original_language']])
joblib.dump(ohe, "../models/original_language_ohe.pkl")
sparse.save_npz(f"../data/orig_lang.npz", lang_encoded)
lang_encoded_df = pd.DataFrame.sparse.from_spmatrix(
    lang_encoded, index=data.index, columns=[f"lang_{cat}" for cat in ohe.categories_[0]]
)
data = pd.concat([data, lang_encoded_df], axis=1)

In [ ]:
data.shape

In [ ]:
data['adult'] = data['adult'].astype(int)  # True → 1, False → 0

In [ ]:
data['release_date'] = pd.to_datetime(data['release_date'], errors='coerce')
data['release_year'] = data['release_date'].dt.year.fillna(0).astype(int)
data.drop(columns=['release_date'], inplace=True)

In [ ]:
data = pd.read_csv('../data/data_streamlit.csv')

In [ ]:
def limpiar_budget(budget):
    if pd.isna(budget):
        return np.nan
    # Eliminar todo lo que no sea dígito
    limpio = ''.join(c for c in str(budget) if c.isdigit())
    return float(limpio) if limpio else np.nan

# Aplica la limpieza
data['budget_final'] = data['budget_final'].apply(limpiar_budget) / 1_000_000  # En millones

In [ ]:
data.to_csv('../data/data_streamlit.csv', index=False)

In [ ]:
data.drop(['genres', 'spoken_languages', 'production_countries', 'original_language'], axis=1, inplace=True)

In [ ]:
data.head()

In [ ]:
from sklearn.preprocessing import MinMaxScaler

# Columnas numéricas
numeric_cols = ['vote_average', 'vote_count', 'adult', 'popularity', 'runtime_final', 'budget_final', 'release_year']

# Función de limpieza para valores monetarios o con texto
def clean_numeric(value):
    if pd.isna(value):
        return 0
    if isinstance(value, str):
        # Eliminar cualquier carácter no numérico o punto decimal
        value = ''.join(c for c in value if c.isdigit() or c == '.')
        try:
            return float(value)
        except:
            return 0
    return value  # Si ya es numérico

# Aplicar limpieza a todas las columnas
for col in numeric_cols:
    data[col] = data[col].apply(clean_numeric)

# Rellenar NaNs (por si acaso)
data[numeric_cols] = data[numeric_cols].fillna(0)

# Escalar
scaler = MinMaxScaler()
data[numeric_cols] = scaler.fit_transform(data[numeric_cols])

# Guardar el escalador
joblib.dump(scaler, "../models/numeric_minmax_scaler.pkl")

In [ ]:
data.to_csv('../data/dataset_escalado.csv', index=False)

In [ ]:
data_esc = pd.read_csv('../data/dataset_escalado.csv')
data_esc.head()
data_esc.shape

In [ ]:
from scipy.sparse import hstack, csr_matrix

# Elimina columnas tipo object (como textos, listas, etc.)
df_numeric = data_esc.select_dtypes(include=['number', 'Sparse'])

# Convierte solo las columnas numéricas a sparse
X_num_sparse = csr_matrix(df_numeric.values)

In [ ]:
import pandas as pd
from scipy.sparse import csr_matrix
# Paso 1: Selecciona las columnas numéricas que quieres usar
numeric_cols = ['vote_average', 'vote_count', 'adult', 'popularity', 'runtime_final', 'budget_final', 'release_year']
# Paso 2: Extrae esas columnas del DataFrame principal
data_esc = data_esc[numeric_cols].copy()
# Paso 3: Fuerza a que todo sea numérico (por si hay strings u objetos)
data_esc = data_esc.apply(pd.to_numeric, errors='coerce')
# Paso 4: Llena valores nulos (por errores o valores faltantes) con 0
data_esc = data_esc.fillna(0)
# Paso 5: Convierte a float32 para ahorrar RAM y pásalo a matriz dispersa
X_num_sparse = csr_matrix(data_esc.astype('float32'))
# Ahora X_num_sparse está listo para combinar con otros vectores

In [ ]:
print(X_num_sparse.shape)

In [ ]:
from scipy.sparse import load_npz, save_npz, hstack
from scipy.sparse import csr_matrix

# Cargar las matrices sparse desde disco
title = load_npz('../data/title_clean.npz')
tagline = load_npz('../data/tagline_clean.npz')
actors = load_npz('../data/top_actors.npz')
companies = load_npz('../data/production_companies.npz')
overview = load_npz('../data/overview_clean.npz')
keywords = load_npz('../data/keywords.npz')
director = load_npz('../data/director.npz')
genres = load_npz('../data/genres.npz')
orig_lang = load_npz('../data/orig_lang.npz')
countries = load_npz('../data/production_countries.npz')
spoken_lang = load_npz('../data/spoken_languages.npz')

# Convertir tus datos numéricos a sparse
X_num_sparse = csr_matrix(data_esc)

# Combinar todo
X_combined = hstack([
    title, tagline, actors, companies,
    overview, keywords, director, genres, orig_lang, countries, spoken_lang,
    X_num_sparse
])

In [ ]:
print(X_combined.shape)

In [ ]:
save_npz('../data/matrix_combinada.npz', X_combined)

In [ ]:
from sklearn.neighbors import NearestNeighbors
import time  # solo para simular retraso, quitar en producción

# Supongamos que preparar X_combined es un proceso con loop
# Aquí simulo con un loop dummy para mostrar tqdm
for _ in tqdm(range(100), desc='Entrenando NearestNeighbors'):
    time.sleep(0.01)  # simula trabajo pesado

# Aquí ya tienes X_combined preparado, entrenas el modelo normalmente
model = NearestNeighbors(n_neighbors=10, metric='cosine')
model.fit(X_combined)

joblib.dump(model, '../models/knn_model.pkl')

In [ ]:
print("Modelo espera:", model._fit_X.shape[1])

In [ ]:
import random

df = pd.read_csv('../data/dataset_escalado.csv')
model = joblib.load('../models/knn_model.pkl')
X_combined = sparse.load_npz('../data/matrix_combinada.npz')

def recomendar_pelicula(titulo, modelo_knn, X, df, n=5):
    try:
        idx = df[df['title_clean'] == titulo].index[0]
    except IndexError:
        return f"❌ Título '{titulo}' no encontrado."

    distancias, indices = modelo_knn.kneighbors(X[idx], n_neighbors=n+1)
    recomendaciones = df.iloc[indices[0][1:]]['title_clean'].values
    return recomendaciones

# ---------------------------
# 8. Probar con títulos aleatorios
# ---------------------------
titulos_random = df['title_clean'].unique()
titulo = random.choice(titulos_random)

print("🎬 Título seleccionado:", titulo)
recs = recomendar_pelicula(titulo, model, X_combined, df)

print("\n🔁 Recomendaciones:")
for r in recs:
    print("  ✅", r)